@{
    ViewData["Title"] = "Search result";
}

<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
<script src="http://code.jquery.com/jquery-latest.js"></script>

<h1>Search result</h1>

<form asp-controller="Search" asp-action="Result" method="get">
    <div class="search-button">
        <p>
            <i class="fas fa-search"></i>
            <input type="text" id="search" name="SearchString" value="@ViewData["CurrentFilter"]" />
            <button id="searchBtn" type="submit">Search</button>
        </p>
    </div>
</form>

<p>No mathing results for that search...</p>
<i class="fas fa-frown"></i>
<p>Try another firstname or lastname!</p>

<a asp-controller="Home" asp-action="Index">Back to startpage</a>
