<div id="exceptionDiv">
    <div id="exception">
        <h2>@TempData["ProcessMessage"]</h2>
        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Return to homepage</a>
    </div>
</div>
