@model DatingApp.Models.ProfileViewModel
@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

@{
    ViewData["Title"] = "My Profile";
}



@if (SignInManager.IsSignedIn(User))
{
    <h1 class="myprofile">My Profile</h1>
    <br />
    <div>
        <div class="myprofile">
            <img width="200" height="200" src="@Url.Action("LoadPicture", "Person", new { id = @Model.PersonId })" />
        </div>
        <br />
        <form class="text-center" asp-action="UploadImage"
              asp-controller="Person"
              method="post"
              enctype="multipart/form-data">
            <input type="file" id="file1"
                   name="file1"
                   multiple="multiple" />
                <button type="submit" class="btn btn-primary">Upload File</button>
        </form>

        <form asp-action="UpdateProfile" class="myprofile" id="myProfile" enctype="multipart/form-data">
            <div class="form-group">
                <label asp-for="FirstName" class="control-label"></label>
                <input asp-for="FirstName" class="form-control" />
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LastName" class="control-label"></label>
                <input asp-for="LastName" class="form-control" />
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="hideAccount">
                    Hide account from other users
                    <input asp-for="AccountHidden" type="checkbox">
                    <span class="hideAccountCheckmark"></span>
                </label>
            </div>

            <div class="form-group">
                <input id="editProfile" type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>

        <ul class="nav myprofile">
            <li class="nav-item"><a class="nav-link" id="password" href="/Identity/Account/Manage/ChangePassword">Manage password</a></li>
        </ul>
    </div>

    <div class="profileWall">
        <div class="col-lg-5" id="PostWall">
            @await Html.PartialAsync("/Views/Post/_Post.cshtml", Model.Posts)
            <hr />
        </div>
        <div class="col-lg-5" id="FriendWall">
            @await Html.PartialAsync("_Friend.cshtml", Model.Friends)
            <hr />
        </div>
    </div>

}
else
{
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Register">Register</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Login">Login</a>
    </li>
}

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
