@model DataLayer.Models.Person
@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
@{
    ViewData["Title"] = "Profile";
}



@if (SignInManager.IsSignedIn(User))
{
    <h1>My Profile</h1>

    <div>
        <h4>@Html.DisplayFor(model => model.FirstName) @Html.DisplayFor(model => model.LastName)</h4>

        <form asp-action="Edit">
            <img src=@Html.DisplayFor(model => model.Picture) />

            <div class="form-group">
                <label for="input-FirstName">First name</label>
                <input class="form-control" type="text" id="FirstName" name="FirstName" value=@Html.DisplayFor(model => model.FirstName)>
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label for="input-LastName">Last name</label>
                <input class="form-control" type="text" id="LastName" name="LastName" value=@Html.DisplayFor(model => model.LastName)>
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label for="input-Description">Description</label>
                <input class="form-control" type="text" id="Description" name="Description" value=@Html.DisplayFor(model => model.Description)>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="button" value="Save" class="btn btn-primary" onclick="location.href='@Url.Action("UpdateProfile", "Person")'" />
            </div>

        </form>

        <div class="alert alert-success alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
            Your profile has been updated
        </div>
        <ul class="nav">
            <li class="nav-item"><a class="nav-link" id="email" href="/Identity/Account/Manage/Email">Manage your account</a></li>
        </ul>
    </div>

}
else
{
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Register">Register</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Login">Login</a>
    </li>
}
