@model DataLayer.Models.Person
@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
@{
    ViewData["Title"] = "Profile";
}



@if (SignInManager.IsSignedIn(User))
{
    <h1>My Profile</h1>

    <div>
        <h4>@Html.DisplayFor(model => model.FirstName) @Html.DisplayFor(model => model.LastName)</h4>
        

        <div class="form-group">
            <label for="input-FirstName">First name</label>
            <input class="form-control" type="text" id="FirstName" name="FirstName" value=@Html.DisplayFor(model => model.FirstName)>
        </div>
        <div class="form-group">
            <label for="input-LastName">Last name</label>
            <input class="form-control" type="text" id="LastName" name="LastName" value=@Html.DisplayFor(model => model.LastName)>
        </div>
        <div class="form-group">
            <label for="input-Description">Description</label>
            <input class="form-control" type="text" id="Description" name="Description" value=@Html.DisplayFor(model => model.Description)>
        </div>

        <button id="update-profile-button" class="btn btn-primary" type="submit">Save</button>

        <div class="alert alert-success alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
            Your profile has been updated
        </div>
        <ul class="nav">
            <li class="nav-item"><a class="nav-link" id="email" href="/Identity/Account/Manage/Email">Manage your account</a></li>
        </ul>
    </div>

}
else
{
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Register">Register</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Login">Login</a>
    </li>
}
