@model IEnumerable<DatingApp.Models.RequestViewModel>

<div>
    @foreach (var item in Model) {
    <div>
        <a href="@Url.Action("Profile", "Person", new { id = item.SenderId })">
            <span>@item.FullName</span>
        </a>
    </div>
    }
</div>
