@model IEnumerable<DatingApp.Models.RequestViewModel>

<div>
    @foreach (var item in Model) {
    <div id="requestLink">
        <a href="@Url.Action("Profile", "Person", new { id = item.SenderId })">
            <img class="mr-1" src="@Url.Action("LoadPicture", "Person", new { id = item.SenderId })" height="32" width="32" />
            <span>@item.FullName</span>
        </a>
    </div>
    }
</div>
